mixin input(options = {})
  -
    var inputClass = "input-group__input"
    var inputGroupClass = options.labelName
      ? "input-group  input-group--column"
      : "input-group";
    var labelClass = options.isBigLabel
      ? "input-group__label  input-group__label--big"
      : "input-group__label";

    if (options.isButtonSplit) {
      inputClass += "  input-group__input--button-split"
    }

    if (options.isDarkPlaceholder) {
      inputClass += "  input-group__input--dark-placeholder"
    }

    if (options.isHaveIcon) {
      inputClass += "  input-group__input--icon"
    }

    if (options.isHover) {
      inputClass += "  input-group__input--hover"
    }

    var splitButtonClass = "input-group__button-split"

    if (options.isDownSplitAnimation) {
      splitButtonClass += "  input-group__button-split--down-animation"
    }

    if (options.isRightSplitAnimation) {
      splitButtonClass += "  input-group__button-split--right-animation"
    }

  if options.isFakeInput
    -
      var inputFakeClass = 'input-group__input  input-group__input--fake'
      if (options.isHaveIcon) inputFakeClass += '  input-group__input--icon'
      if (options.isDownSplitAnimation) inputFakeClass += '  input-group__button-split--down-animation'
    if options.labelName
      div(class=inputGroupClass)
        p(class=labelClass id=`for-${options.id}`)= options.labelName
        if options.descrText
          p.input-group__descr= options.descrText
        div(id=`${options.id}` class=`${inputFakeClass}` type=options.type name=options.name)= options.placeholder
  else if options.isButtonSplit
    div(class=inputGroupClass)
      if options.labelName
        label(class=labelClass for=`${options.id}`)= options.labelName
      p.input-group__split
        input(id=`${options.id}` class=inputClass type=options.type name=options.name placeholder=options.placeholder)
        button(id=`${options.splitId}` class=`${splitButtonClass}` type='button')
          img(src=`../../components/input/${options.iconSrc}`, alt="")
  else
    div(class=inputGroupClass)
      if options.labelName
        label(class=labelClass for=`${options.id}`)= options.labelName
      if options.descrText
        p.input-group__descr= options.descrText
      input(id=`${options.id}` class=inputClass type=options.type name=options.name placeholder=options.placeholder)