mixin input(options = {})
  -
    const inputId = options.id ? options.id : "input-id";
    const splitId = options.splitId ? options.splitId : "split-btn-id";
    const inputGroupClass = options.labelName
      ? "input-group  input-group_with-label"
      : "input-group";
    const labelClass = options.isBigLabel
      ? "input-group__label  input-group__label_big"
      : "input-group__label";
    let inputClass = "input-group__input";
    let splitButtonClass = "input-group__button-split";
    let splitButtonType = options.splitButtonType ? options.splitButtonType  : "button";

    if (options.isButtonSplit) {
      inputClass += "  input-group__input_double-button";
    }

    if (options.isDarkPlaceholder) {
      inputClass += "  input-group__input_dark-placeholder";
    }

    if (options.isHaveIcon) {
      inputClass += "  input-group__input_with-icon";
    }

    if (options.isHover) {
      inputClass += "  input-group__input_hovered";
    }

    if (options.isWiderLabel) {
      splitButtonClass += "  input-group__button-split_wider-label";
    }

    if (options.isDownSplitAnimation) {
      splitButtonClass += "  input-group__button-split_down-animation";
    }

    if (options.isRightSplitAnimation) {
      splitButtonClass += "  input-group__button-split_right-animation";
    }

  if options.isFakeInput
    -
      let inputFakeClass = "input-group__input  input-group__input_fake";

      if (options.isHaveIcon) {
        inputFakeClass += "  input-group__input_with-icon";
      }

      if (options.isDownSplitAnimation) {
        inputFakeClass += "  input-group__button-split_down-animation";
      }

    if options.labelName
      div(class=inputGroupClass)
        p(class=labelClass id=`for-${inputId}`)= options.labelName
        if options.descrText
          p.input-group__descr= options.descrText
        div(id=`${inputId}` class=`${inputFakeClass}` type=options.type name=options.name)= options.placeholder
  else if options.isButtonSplit
    div(class=inputGroupClass)
      if options.labelName
        label(class=labelClass for=`${inputId}`)= options.labelName
      p.input-group__split
        input(id=`${inputId}` class=inputClass type=options.type name=options.name placeholder=options.placeholder)
        button(id=`${splitId}` class=`${splitButtonClass}` type=splitButtonType)
          img(src=`../../components/input/${options.iconSrc}`, alt="")
  else
    div(class=inputGroupClass)
      if options.labelName
        label(class=labelClass for=`${inputId}`)= options.labelName
      if options.descrText
        p.input-group__descr= options.descrText
      input(id=`${inputId}` class=inputClass type=options.type name=options.name placeholder=options.placeholder)