mixin colorPallete(options = {})
  -
    let colorViewStyle = `background-color: ${options.colorPallete}`;
    if (options.colorOpacity) {
      colorViewStyle += `; opacity: ${options.colorOpacity}`;
    }

  section.color-pallete
    .color-pallete__wrap
      div(class="color-pallete__view" style=colorViewStyle)
      .color-pallete__content
        h2.color-pallete__title= options.title
        p.color-pallete__descr= options.descr