include ../likebtn/likebtn

mixin comment(options = {})
  -
    const {
      avatarSrc,
      authorName,
      likeCount,
      isLikeActive,
      datePost,
      text,
    } = options;

  .comment
    .comment__wrap
      .comment__column
        .comment__avatar
          img(class="comment__avatar-img" src=avatarSrc alt=authorName)
        +likebtn({ count: likeCount, isActived: isLikeActive })
      .comment__column
        p.comment__title= authorName 
        p.comment__date= datePost
        p.comment__text= text 