include ../likebtn/likebtn

mixin comment(options = {})
  .comment
    .comment__wrap
      .comment__pict
        img(src=options.avatarSrc alt=options.authorName)
      +likebtn({ items: [{ count: options.like, isLike: options.isLikeActive }] })
    .comment__wrap
      p.comment__title= options.authorName 
      p.comment__date= options.datePost
      p.comment__text= options.text 