mixin radiobtn(options = {})
  .radiobtn
    if options.title
     p.radiobtn__title= options.title
    each item in options.items
      p.radiobtn__item
        input(id=item.id name=item.groupName type="radio" checked=item.isChecked)
        label(for=item.id)= item.title