include ../logo/logo
include ../button/button
include ../main-menu/main-menu

-
  const menuItems = [
    { id: "aboutUsRus", title: "О нас", path: "#" },
    { 
      id: "productsRus",
      title: "Услуги",
      path: "#",
      subMenu: [
        { id: "selectHotels", title: "Подбор отелей", path: "#" },
        { id: "orderTransfer", title: "Заказать трансфер", path: "#" },
        { id: "hotelsRating", title: "Рейтинг отелей", path: "#" }
      ]
    },
    { id: "careersRus", title: "Вакансии", path: "#" },
    { id: "newsRus", title: "Новости", path: "#" },
    {
      id: "documentationRus",
      title: "Соглашения",
      path: "#",
      subMenu: [
        { id: "userDoc", title: "Пользовательские", path: "#" },
        { id: "internationalDoc", title: "Международные", path: "#" }
      ]
    }
  ];

  const menuEngItems = [
    { id: "homeEng", title: "Home", path: "#" },
    { id: "aboutUsEng", title: "About us", path: "#" },
    {
      id: "servicesEng",
      title: "Services",
      path: "#",
      subMenu: [{ id: "servicesSubEng", title: "service", path: "#"}]
    },
    { id: "careersEng", title: "Careers", path: "#" },
    { id: "newsEng", title: "News", path: "#" },
    { id: "documentationEng", title: "Documentation", path: "#" }
  ];

mixin header(options = {})
  -
    const authClass = options.userName
      ? "page-header__auth  page-header__auth--is-auth"
      : "page-header__auth";
    const currentMenuItems = options.isEnglish ? menuEngItems : menuItems;
    const authBtnTitle = options.isEnglish ? "Login" : "Войти";
    const registerBtnTitle = options.isEnglish ? "Register" : "Зарегистрироваться";
    const authListId = options.authListId ? options.authListId : "authListId";
    const profileBtnId = options.profileBtnId ? options.profileBtnId : "authButton";

  header.page-header
    .container
      .page-header__wrap
        +logo()
        +mainMenu(currentMenuItems, {
          currentPage: options.currentPageId,
          mainMenu: options.mainMenuId,
          burgerBtn: options.burgerBtnId
        })
        section(class=authClass)
          if options.userName
            p.page-header__user-name= options.userName
          else
            +button({ title: authBtnTitle, path: "/auth.html", isEmptyStyle: true })
            +button({ title: registerBtnTitle, path: "/registration.html" })
            ul(id=authListId class="page-header__auth-list")
              li.page-header__auth-item
                a(href="/auth.html")= authBtnTitle
              li.page-header__auth-item
                a(href="/registration.html")= registerBtnTitle
            button(id=profileBtnId class="page-header__auth-profile" type="button")