include ../logo/logo
include ../button/button
include ../main-menu/main-menu

-
  const menuItems = [
    { id: "aboutUsRus", title: "О нас", path: "/404.html" },
    { 
      id: "productsRus",
      title: "Услуги",
      path: "/404.html",
      subMenu: [
        { id: "selectHotels", title: "Подбор отелей", path: "/404.html" },
        { id: "orderTransfer", title: "Заказать трансфер", path: "/404.html" },
        { id: "hotelsRating", title: "Рейтинг отелей", path: "/404.html" }
      ]
    },
    { id: "careersRus", title: "Вакансии", path: "/404.html" },
    { id: "newsRus", title: "Новости", path: "/404.html" },
    {
      id: "documentationRus",
      title: "Соглашения",
      path: "/404.html",
      subMenu: [
        { id: "userDoc", title: "Пользовательские", path: "/404.html" },
        { id: "internationalDoc", title: "Международные", path: "/404.html" }
      ]
    }
  ];

mixin header(options = {})
  -
    const authClass = options.userName
      ? "page-header__auth  page-header__auth_authenticated"
      : "page-header__auth";
    const authListId = options.authListId ? options.authListId : "authListId";
    const profileBtnId = options.profileBtnId ? options.profileBtnId : "authButton";
    const logoId = options.logoId ? options.logoId : "header-logo";

  header.page-header
    .container
      .page-header__wrap
        +logo({ id: logoId })
        +mainMenu(menuItems, {
          currentPage: options.currentPageId,
          mainMenu: options.mainMenuId,
          burgerBtn: options.burgerBtnId
        })
        section(class=authClass)
          if options.userName
            p.page-header__user-name= options.userName
          else
            +button({ title: "Войти", path: "/auth.html", isEmptyStyle: true })
            +button({ title: "Зарегистрироваться", path: "/registration.html" })
            ul(id=authListId class="page-header__auth-list")
              li.page-header__auth-item
                a(class="page-header__auth-item-link" href="/auth.html")= "Войти"
              li.page-header__auth-item
                a(class="page-header__auth-item-link" href="/registration.html")= "Зарегистрироваться"
            button(id=profileBtnId class="page-header__auth-profile" type="button")