mixin checkbox(options = {})
  -
    let labelClass = "checbox__lbl";
    let titleClass = "checkbox__title";
    let checkboxClass = "checkbox";
    const listId = options.listId
      ? options.listId
      : "id-checkbox-list";

    if (options.isExpandable) {
      titleClass += "  checkbox__title--expandable";
    }

    if (options.isExpandableOpen) {
      titleClass += "  checkbox__title--expandable-open";
    }

    if (options.isRich) {
      checkboxClass += "  checkbox--rich";
      labelClass += "  checbox__lbl--rich";
    }

  div(class=checkboxClass)
    if options.title
      if options.isExpandable
        p(class=titleClass)
          button(id=options.idExpandableBtn class="checkbox__expandable" type="button")= options.title
      else 
        p(class=titleClass)= options.title
    if options.items
      div(id=listId class="checkbox__item-list")
        each item in options.items
          div.checkbox__item
            input(id=item.id type="checkbox" checked=item.isChecked)
            label(for=item.id class=labelClass)= item.title
              if options.isRich
                p.checkbox__descr= item.descr