mixin input(options = {})
  -
    var inputGroupClass = options.labelName ? 'input-group  input-group--column' : 'input-group'
    //- var inputClass = options.isButtonSplit ? 'input-group__input  input-group__input--button-split' : 'input-group__input'
    var inputClass = "input-group__input"

    if (options.isButtonSplit) {
      inputClass += "  input-group__input--button-split"
    }

    if (options.isHaveIcon) {
      inputClass += "  input-group__input--icon"
    }

  if options.isButtonSplit
    div(class=inputGroupClass)
      if options.labelName
        label(class='input-group__label' for=`${options.id}`)= options.labelName
      p.input-group__split
        input(id=`${options.id}` class=inputClass type=options.type name=options.name placeholder=options.placeholder)
        button(class='input-group__button-split' type='button')
          img(src=`components/input/${options.iconSrc}`, alt="")
  else
    p(class=inputGroupClass)
      if options.labelName
        label(class='input-group__label' for=`${options.id}`)= options.labelName
      input(id=`${options.id}` class=inputClass type=options.type name=options.name placeholder=options.placeholder)